* {
  box-sizing: border-box;
  border: thin solid black;
}


#left {
  width: 100%;
   height: 75%;
  float: left
}

#outside {
  width: 33.33333%;
   height: 100%;
  float: left
}

#inside {width: 33.33333%;
   height: 100%;
  float: left
}

#content {width:75%;
   height: 100%;
  float: left
}

#content-left {width:50%;
   height: 75%;
  float: left
}

#content-right {width: 33.33333%;
   height: 100%;
  float: right
}

#content-bottom {width:75%;
   height: 100%;
  float: center
}

#top {width: 33.33333%;
   height: 100%;
  float: center
}

#right {width: 33.33333%;
  float: right
}
